
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky" style="position: fixed;">
        <div class="container Nav-con-1">
            <div class="row row1">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="/assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="allProducts?task=filterCategory&cat=Mens&page=1">Men's</a></li>
                            <li class="scroll-to-section"><a href="allProducts?task=filterCategory&cat=Womens&page=1">Women's</a></li>
                            <li class="scroll-to-section"><a href="allProducts?task=filterCategory&cat=Kids&page=1">Kid's</a></li>
                        
                            <li class="scroll-to-section"><a href="#Accessories">Contact</a></li>

                            <li> <a style="cursor: pointer;"><i class="fa-solid fa-magnifying-glass searchIcon" id="searchBtn"
                                style="color: #404040;"></i></a></li>
                           
                            <li><a href="/shoppingcart">
                                <i class="fa-solid fa-cart-shopping cartIcon" style="color: #404040;"></i>
                            </a></li>
                            <li><a href="/Profile" class="logo">
                                <img src="/assets/images/profile-Icon.png" class="profileIcon">
                            </a></li>
                        </ul>  
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                       
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
  

