<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>RegisterPage</title>


    <!-- stylesheet links -->    


        <link rel="stylesheet" type="text/css" href="/assets/css/user/register.css">

        <link rel="stylesheet" type="text/css" href="/assets/css/user/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="/assets/css/user/font-awesome.css">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <link rel="stylesheet" href="/assets/css/user/templatemo-hexashop.css">

        <link rel="stylesheet" href="/assets/css/user/owl-carousel.css">

        <link rel="stylesheet" href="/assets/css/user/lightbox.css">

</head>

<body>
     
    
    <!-- ***** Header Area Start ***** -->
    <%- include('../../views/user/navbar.ejs') %>
    <!-- ***** Header Area End ***** -->


   
<br><br>
    <div class="container con-form">
        <h1>Login & Register</h1>
        <br>
        <div class="row frmRow">
            <div class="col-8 registerFrm">
                <nav class="col-12 loginHeader">
                    <a href="/login" class="loginbtn">Login</a>
                    <a href="/register" class="registerbtn">Register</a>
                </nav>
    
                <div class="col-12 inputDiv">
                    <form class="SubmitRegFrm" action="/register" method="post">
                        <div class="form-group input-container">
                            <input type="text" required="true" class="form-control inputemail" name="userName" id="exampleFormControlInput1" placeholder=" Enter your Name" >
                              <input type="tel" required="true" minlength="10" maxlength="10" class="form-control inputpass" name="phoneNo" id="exampleFormControlInput1" placeholder=" Enter your PhoneNo " >
                              <input type="email" required="true" class="form-control inputpass" name="emailAddress" id="exampleFormControlInput1" placeholder=" Enter your Email-Address" >
                              <input type="password" required="true" class="form-control inputpass" name="password" id="exampleFormControlInput1" placeholder=" Enter the password"  maxlength="15" minlength="7" >
                        </div>
                        <button type="submit" class="btn btn-secondary btnRegister">Register</button> 
                    </form>
                </div>
            </div>
            </div>
            
    </div>



    
<!-- eFooter starts here... -->
<%- include('../../views/user/footer.ejs') %>
<!-- Footer end  here... -->



    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>


</body>

</html>