<%- include('../../views/user/DoctypeHeader.ejs') %>


    <!-- ***** Header Area Start ***** -->
    <%- include('../../views/user/navbar.ejs') %>
        <!-- ***** Header Area End ***** -->

        <!-- Number submition container starts here.... -->

        <div class="container-fluid Container-1">
            <div class="row">
                <div class="col-lg-7 con-1">
                    <div class="row">
                        <div class="col-12 btnBackCol">
                            <br>
                            <a href="/sendEmailOtp" class="backBtn">
                                <i class="fa-solid fa-angle-left" style="color: #050505;"></i> <span>Back</span>
                            </a>
                        </div>

                        <div class="col-12 con-2 ">
                            <p>Please Enter your New Password</p>
                            <form class="SubmitFrm" action="resetPassword?_method=PATCH" method="post">
                                <div class="form-group input-container">
                                    <input type="tel" class="form-control inputpass" name="password"
                                        id="exampleFormControlInput1" placeholder="Enter New Password">
                                    <input type="tel" class="form-control inputpass" name="confirmPassword"
                                        id="exampleFormControlInput1" placeholder="Confirm-Password">
                                    <br><br>
                                    <button type="submit" class="btn btn-secondary btnSend">Reset-Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5 col1 background-image">

                </div>
            </div>
        </div>
        <!-- Number submition container End here.... -->


        <!-- Footer starts here... -->
        <%- include('../../views/user/footer.ejs') %>
        <!-- Footer end  here... -->


        <!-- DoctypeFooter starts here... -->
        <%- include('../../views/user/DoctypeFooter.ejs') %>
        <!-- DoctypeEnd starts here... -->